.h-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.h-todoContainer {
    border: solid;
    height: 40em;
    width: 30em;
    margin: 1em;

}

.h-title {
    text-align: center;
}