.nav-container {
    padding: .2em;
    border-bottom: solid 0.1px;
}

.nav-navContainer {
    padding: .1em;
    display: flex;
    align-content: center;
    align-items: center;
}

.nav-homeButtonSize {
    height: 30px;
    width: 30px;
    margin: .5em;
}

.nav-navButtonStyle {
    margin-left: .5em;
    margin-right: .5em;
    font-size: 20px;
}

.nav-midSpace {
    width: 100%;
}

.nav-avatarButtonSizeAvatar {
    height: 40px;
    width: 40px;
    margin: .5em;
}